# Format is:
# <preferred e-mail> <other e-mail 1>
# <preferred e-mail> <other e-mail 2>
Kevin Deldycke <kevin@deldycke.com> kevin.deldycke <kevin.deldycke@5448940a-3a44-0410-9b85-41ab8500f152> kev@coolcavemen.com <kev@coolcavemen.com@5448940a-3a44-0410-9b85-41ab8500f152>
Gilles Lenfant <gilles.lenfant@gmail.com> gilles.lenfant <gilles.lenfant@5448940a-3a44-0410-9b85-41ab8500f152>
